.homePage{
    background-color: black;
    height:100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 2%;
    overflow: scroll;
 
}


::-webkit-scrollbar{
    display: none;
    }
