.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 20px;
            width: 30px;
            margin-top: 5px;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
            margin-left: 5px;
        }
    }

    .searchBar {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        input {
            width: 90%;
            height: 31px;
            background-color: black;
            color: white;
            border-width: 1px !important;
            border-left-width: 1px !important;
            border-bottom-width: 1px !important;
            padding-left: 5px;
        }
        div{
            background-color: #303030;
            padding: 1% 2%;
            margin-left: 1px;
        }

    }

    .profile{
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff00ff;
        color: white;
        border-radius: 50%;
        cursor: pointer;

        p{
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}