.sidebar{
    height: calc(100vh - 60px - 25px);
    width: 200px;
    background-color: #181818;
    color: white;
    padding: 12.5px 0;

    .menu{
        display: flex;
        align-items: center;
        padding: 1% 5% 1% 10%;
        p{
            font-weight: bold;
            margin-left: 10%;
        }
    }

    .subscriptions{
        p{
            font-size: 1.2rem;
            text-align: center;
        }
    }
}