.sidebar{
    height: calc(100vh - 60px - 25px);
    flex: 3;
    background-color: #181818;
    color: white;
    padding: 12.5px 0;
    overflow: scroll;

    .menu{
        display: flex;
        align-items: center;
        padding: 0.5% 5% 0.5% 10%;
        p{
            font-weight: bold;
            margin-left: 10%;
        }
    }

    .menu:hover{
       background-color: #333;
    }

    .subscriptions{
        p:first-child{
            font-size: 1.2rem;
            text-align: center;
        }

        .avatar{
            border-radius: 50%;
            height: 25px;
            width: 25px;
            object-fit: cover;
        }
    }
}