.uploadContainer{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    width: 400px;
    margin: auto;
    background-color: #121212;

    textarea{
        padding: 15px;
        border-radius: 5px;
        outline:none;
        border: none;
        background-color: #272727;
        width: 100%;
        color: white;
        margin-bottom: 20px;
        height: 200px;
        resize: none;
    }

    
    input{
        padding: 15px;
        border-radius: 5px;
        outline:none;
        border: none;
        background-color: #272727;
        width: 100%;
        color: white;
        margin-bottom: 20px;

    }

    button{
        border-radius: 5px;
        padding: 15px 20px;
        outline:none;
        border: none;
        color: white;
        background-color: red;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 300;
        cursor: pointer;
    }

}