.videpPg {
    padding: 2% 5%;
    height:90vh;
    display: flex;
    overflow: scroll;

    div:first-child {
        width: 70%;

        .info {
            color: white;

            .title {
                font-size: 1.1rem;
                font-weight: bold;
            }


            div {
                display: flex;
                align-items: center;
                width: 70%;

                .views {
                    font-weight: bold;
                    width: 50%;

                    span {
                        margin-left: 5%;
                    }
                }

                .like {
                    background-color: #303030;
                    display: flex;
                    width: auto;
                    align-items: center;
                    padding: 1% 2%;
                    color: white;
                    border-radius: 999px;
                    margin-left: auto;

                    div {
                        display: flex;
                        align-items: center;

                        span {
                            font-weight: bold;
                            margin: 0 5px;
                        }
                    }
                }

            }

        }

        .channelInfo {
            margin-top: 1%;
            padding: 1%;
            border: 0.7px solid lightgrey;
            width: 70%;
            display: flex;
            align-items: center;
            color: white;

            .avatar {
                border-radius: 50%;
                height: 36px;
                width: 36px;
                object-fit: cover;
            }

            div{
                margin: 0 4%;
                .name {
                    font-weight: bold;
                    margin: 0;
                }
            }

            .subscribe{
                background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: bold;
                padding: 2% 4%;
                margin-left: auto;
                margin-right: 0;
            }
            
        }
    }

    .video {
        width: 100%;
        aspect-ratio: 16/9;
    }
}