.card{
    width: 22%;
    padding: 1%;
    height: 200px;

    img{
        width: 100%;
        aspect-ratio: 16/9;
    }

    .info{
        padding: 2% 0;
        display: flex;

        .avatar{
            border-radius: 50%;
            height: 36px;
            width: 36px;
            object-fit: cover;
        }

        div{
            width: calc(100% - 40px);
            padding: 0 4%;
        }

        div p:first-child{
            color: white;
            margin: 0;
            font-size: 1.1rem;
            font-weight: bold;
        }

        div p:nth-child(2){
            color: white;
            font-size: 0.8rem;
            opacity: 0.7;
        }
    }

}