.card{
    width: 23%;
    padding: 0.5%;
    // height: 200px;

    img{
        width: 100%;
        aspect-ratio: 16/9;
    }

    .info{
        padding: 1% 0;
        display: flex;

        .avatar{
            border-radius: 50%;
            height: 36px;
            width: 36px;
            object-fit: cover;
        }

        div{
            width: calc(100% - 40px);
            padding: 0 4%;
        }

        div p:first-child{
            color: white;
            margin: 0;
            font-size: 1.1rem;
            font-weight: bold;
        }

        div p:nth-child(2){
            color: white;
            font-size: 0.8rem;
            opacity: 0.7;
            margin-top: 2%;
        }

    }

    .timeTag{
        border-radius: 5px;
        width: 15%;
        height: 20px;
        color: white;
        background-color: black;
        position: relative;
        bottom: 27px;
        left: 84%;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
    }

    &:hover{
        transform: scale(1.1);
    }
}
